* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  background-color: #c2b2b4;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

body .dark-background {
  background-color: #3e2a35;
}

header {
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 30px;
}

header h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0;
}

header h1 .svg {
  height: 2.2rem;
}

header .search-input-plus-button {
  justify-self: right;
}

header #search {
  border: 2px solid #c2b2b4;
  border-radius: 3px 0 0 3px;
  font-size: 1rem;
  height: 1.875rem;
  padding-left: 5px;
}

header .search-button {
  background-color: #c2b2b4;
  border: 2px solid #c2b2b4;
  border-radius: 0 3px 3px 0;
  color: #fff;
  height: 1.875rem;
  line-height: 1.1;
  margin-left: -5px;
  padding-right: 2px;
  width: 1.875rem;
}

form {
  margin: auto;
  padding: 15px 30px 30px;
  width: 720px;
}

form .full-width {
  width: 100%;
}

form label {
  color: #968183;
  font-size: .9rem;
}

form input {
  border: 0;
  height: 2rem;
  margin: 5px 0 15px;
}

form .button,
.photo-card-footer {
  background-color: #5b4447;
  border: 0;
  color: #fff;
  height: 2rem;
}

form .choose-file-label {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  margin: 21px 0 36px;
  padding-top: 7px;
  text-align: center;
}

form .button:hover {
  filter: brightness(1.2);
}

form #choose-file {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}

form .fav-and-add {
  display: flex;
  justify-content: space-between;
}

form .small-button {
  width: 45%;
}

.photo-area {
  color: #3e2a35;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  padding: 30px;
}

.photo-card {
  border: 2px solid #938284;
  display: grid;
  grid-template-rows: 38px 1fr 76px 45px;
  max-width: 670px;
}

.photo-title,
.photo-caption {
  background-color: #fff;
  padding: 10px;
  word-break: break-all;
}

.photo-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 75%;
}

.photo-container-0 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Lauterbrunnen_-_Staubbachfall.jpg/2560px-Lauterbrunnen_-_Staubbachfall.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 75%;
}

.photo-card-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 45px;
}

.photo-card-footer button {
  background-color: #5b4447;
  border: 0;
  height: 25px;
  margin: 10px;
  width: 25px;
}

.photo-card-footer .delete-button {
  background-image: url(../images/delete.svg);
  background-repeat: no-repeat;
}

.photo-card-footer .delete-button:hover {
  background-image: url(../images/delete-active.svg);
}

.photo-card-footer .favorite-false {
  background-image: url(../images/favorite.svg);
  background-repeat: no-repeat;
  justify-self: right;
}

.photo-card-footer .favorite-false:hover {
  background-image: url(../images/favorite-active.svg);
}

.photo-card-footer .favorite-true {
  background-image: url(../images/favorite-active.svg);
  background-repeat: no-repeat;
  justify-self: right;
}

.photo-card-footer .favorite-true:hover {
  height: 27px;
  width: 27px;
  padding: 8px;
}

@media screen and (max-width: 1350px){
  .photo-area {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1020px){
  .photo-area {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    padding: 7px 15px;
  }

  header .search-input-plus-button {
    justify-self: center;
    margin: auto;
    width: 330px;
  }

  header #search {
    width: 91%;
  }

  main form {
    margin: auto;
    padding: 15px 15px 30px;
    width: 100%;
  }

  .photo-area {
    grid-template-columns: 1fr;
    padding: 30px 15px;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 14px 15px;
  }

  header h1 {
    font-size: 2.15rem;
  }

  header h1 .svg {
    height: 1.9rem;
  }

  header .search-input-plus-button {
    justify-self: center;
    margin: auto;
    width: 285px;
  }

  header #search {
    width: 89%;
  }

  form .choose-file-label,
  form button {
    font-size: .9rem;
  }
}